<app-navbar></app-navbar>


<div>
    <h2 id="page-heading">
        <span>Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <i class="fa fa-plus"></i>
            <span>
            Create a new Client
            </span>
        </button>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
        <span>No clients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nom</span></th>
                    <th scope="col" ><span>Prenom</span></th>
                    <th scope="col" ><span>Adresse</span></th>
                    <th scope="col" ><span>Telephone</span></th>
                    <th scope="col" ><span>Email</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId">
                    <td><a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.adresse }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil-alt"></i>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(client)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

