<app-navbar></app-navbar>
<div class="container">
  <div>
    <h2 id="page-heading">
      <span>Commandes</span>

      <button
        id="jh-create-entity"
        class="btn btn-primary float-right jh-create-entity create-commande"
        routerLink="/newcommande"
      >
        <i class="fa fa-plus"></i>
        <span>
          Nouvelle Commande
        </span>
      </button>
    </h2>

    <div
      class="alert alert-warning"
      id="no-result"
      *ngIf="commandes?.length === 0"
    >
      <span>No commandes found</span>
    </div>

    <div
      class="table-responsive"
      id="entities"
      *ngIf="commandes && commandes.length > 0"
    >
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Date</span></th>
            <th scope="col"><span>Facture</span></th>
            <th scope="col"><span>Etat</span></th>
            <th scope="col"><span>Client</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes; trackBy: trackId">
            <td>
              <a [routerLink]="['/commande', commande.id, 'view']">{{
                commande.id
              }}</a>
            </td>
            <td>{{ commande.date }}</td>
            <td>
              <div *ngIf="commande.facture">
                <p>{{ commande.facture?.id }}</p>
              </div>
            </td>
            <td>
              <div *ngIf="commande.etat">
                <p>{{ commande.etat?.libelle }}</p>
              </div>
            </td>
            <td>
              <div *ngIf="commande.client">
                <p>
                  {{ commande.client?.nom }} - {{ commande.client?.telephone }}
                </p>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  (click)="editer(commande)"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fa fa-edit"></i>
                  <span class="d-none d-md-inline">Editer</span>
                </button>
                <button
                  *ngIf="commande.etat.id != 2"
                  type="submit"
                  (click)="valider(commande)"
                  class="btn btn-success btn-sm"
                >
                  <i class="fa fa-time"></i>
                  <span class="d-none d-md-inline">Valider</span>
                </button>

                <button
                  type="submit"
                  (click)="livrer(commande)"
                  *ngIf="commande.etat.id != 3"
                  class="btn btn-info btn-sm"
                >
                  <i class="fa fa-ok"></i>
                  <span class="d-none d-md-inline">Livrer</span>
                </button>

                <button
                  *ngIf="commande.etat.id != 3"
                  type="submit"
                  (click)="annuler(commande)"
                  class="btn btn-danger btn-sm"
                >
                  <i class="fa fa-time"></i>
                  <span class="d-none d-md-inline">Annuler</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
